@import url(styles.css);

.grid-flow-dense {
    display: grid;
    /* Grid 5c x 4r */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-auto-flow: row dense; /* Dense es para que ocupe los espacios restantes */
    grid-auto-flow: column dense;
    /* grid-auto-flow: column; */


}

.grid-flow-dense .item:nth-child(9){
    background-color: brown;
    color: #fff;
    /* grid-row: span 3;
    grid-column: span 3; */
    grid-column-start: 1;
    /* grid-column-end: 4;     */
    grid-row-start: 2;
    /* grid-row-end: 4; */
}