* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    display: grid;
    height: 100vh;
    /* Grid 2c x 2r */
    grid-template-columns: 220px 1fr;
    grid-template-rows: 56px 1fr;
    grid-template-areas: 
    'header header'
    'sidebar content';
}

.header {
    grid-area: header;
    /* background-color: blue; */
    border-bottom: 1px solid #c2c2c2cc;
}

.sidebar {
    grid-area: sidebar;
    /* background-color: violet; */
    border-right: 1px solid #c2c2c2cc;
}

.content {
    grid-area: content;
    /* background-color: greenyellow; */
}